body {
    height: 200vh;
}

div {
    height: 200px;
    border: 3px solid black;
}

.red {
    background-color: red;
    /*position: relative;
    bottom: 10px;
    right: 10px;*/
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.child {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0px;
}